<!-- START OF _includes/article.html -->
<article>
	<header>
		<h1><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a></h1>
		<time>{{ page.date | date: "%d %B %Y" }}</time>{% if index %}&mdash; <a href="{{ root_url}}{{ page.url }}#disqus_thread" class="comment-count">comments</a>{% endif %}
	</header>
		<div class="content">
			{{ content }}
		</div>
	<footer>
		{% include post/categories.html %}

	{% if page.source.url %}via <a href="{{ page.source.url }}">{{ page.source.title }}</a>{% endif %}
	</footer>

  <br><br>
  {% include disqus.html %}
</article>
<!-- END OF _includes/article.html -->
