<div class="social">
  <ul>
    <li><a href="http://facebook.com/arthurfurlan" rel="me" target="_blank">Facebook</a></li>
    <li><a href="http://twitter.com/arthurfurlan" rel="me" target="_blank">Twitter</a></li>
    <li><a href="http://google.com/+arthurfurlan" rel="me" target="_blank">Google+</a></li>
    <li><a href="http://linkedin.com/in/arthurfurlan" rel="me" target="_blank">LinkedIn</a></li>
    <li><a href="http://github.com/arthurfurlan" rel="me" target="_blank">Github</a></li>
  </ul>
</div>
Copyright &copy; {{ site.time | date: "%Y" }}
{% if site.author %}
	{{ site.author }}
{% else %}
	{{ site.title }}
{% endif %}
